*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
  
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to top right, #0376EB, #00FBFF, #00BEF8, #00BEF8, #006CEB, #0046E6, #0178ED, #027AEB, #0051AC);
}

#calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

#calculator > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

#display-container {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#display-container #previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

#display-container #current-operand {
    color: white;
    font-size: 2.5rem;
}

#calculator > .special {
    background-color: #0073e6;
}

#calculator > .special:hover {
    background-color: #339cff;
}

#calculator > .special-operators {
    background-color: #ff8c1a;
}

#calculator > .special-operators:hover {
    background-color: #ffb366;
}